.header {
    &-title {
        font-size: 20px;
        margin: 25px 0;
        font-weight: 700;
    }

    &-author {
        font-size: 14px;
        margin-bottom: 25px;
    }

    .controls {
        max-width: 500px;
        display: flex;
        justify-content: center;
        margin: 0 auto 15px;

        button {
            margin: 10px 5px;
        }
    }
}
