@import "~bootstrap/scss/bootstrap";

.App {
    text-align: center;
    min-height: 100vh;
}

.btn {
    margin-bottom: 15px;
    font-weight: 700;
}

//generic section header styles, used in both the hand and deck
.header-info,
.header-controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;

    .btn {
        margin-bottom: 0;
    }
}
